<ion-header class="ion-no-border">
  <ion-toolbar> </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>{{ 'SIGNIN.connexion' | translate}}</h1>
    <img src="../../assets/logo.png" />
  </div>

  <form
    id="form"
    [formGroup]="userForms"
    (ngSubmit)="loginUser(userForms.value)"
  >
    <ion-item class="ion-margin-bottom ion-text-center">
      <ion-input
        type="email"
        formControlName="email"
        placeholder="email"
      ></ion-input>
    </ion-item>
    <div class="error_message">
      <ng-container *ngFor="let validation of validationUserMessage.email">
        <div
          *ngIf="userForms.get('email').hasError(validation.type) && ( userForms.get('email').dirty  )"
        >
          {{validation.message | translate}}
        </div>
      </ng-container>
    </div>

    <ion-item class="ion-margin-bottom ion-text-center">
      <ion-input
        type="password"
        formControlName="password"
        placeholder="{{'SIGNIN.password' | translate}}"
      ></ion-input>
    </ion-item>
    <div class="error_message">
      <ng-container *ngFor="let validation of validationUserMessage.password">
        <div
          *ngIf="userForms.get('password').hasError(validation.type) && ( userForms.get('password').dirty )"
        >
          {{validation.message | translate}}
        </div>
      </ng-container>
    </div>
    <div class="text_alternatif">
      <a [routerLink]="['/signup']"> {{'SIGNIN.pasDeCompte' | translate}} ? </a>
      <a [routerLink]="['/forgetPassword']">
        {{'SIGNIN.motDePasse' | translate}} ?</a
      >
    </div>

    <ion-button
      [disabled]="!userForms.valid"
      expand="block"
      type="submit"
      shape="round"
      color="success"
      >{{'SIGNIN.connexion' | translate}}</ion-button
    >
  </form>
</ion-content>
