.contacts {
  font-size: 20px;
}
ion-avatar {
  img {
    background-color: #00cc3f;
  }
}
.contacts {
  span {
    font-size: 15px;
  }
}
.center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 10px;
}
