<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text="" (click)="backHome()"></ion-back-button>
    </ion-buttons>
    <div class="contacts">{{'PARAMETRES.parametres' | translate}}</div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item class="pseudo" routerLink="/creategroup">
      <ion-avatar slot="start">
        <img src="../../assets/bg.png" />
      </ion-avatar>
      <ion-label>
        <div class="flex_box">
          <h3>Pseudo</h3>
        </div>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="scanQRCode()">
          <ion-icon slot="start" name="qr-code-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/designer.png" />
      </ion-avatar>
      <ion-label>
        <div class="flex_box">
          <h3>{{'PARAMETRES.theme' | translate}}</h3>
        </div>
      </ion-label>
      <ion-select
        (ionChange)="changeTheme()"
        ok-text="Changer"
        cancel-text="Annuler"
        [(ngModel)]="theme"
        value="theme"
      >
        <ion-select-option value="light"
          >{{'PARAMETRES.themeOption1' | translate}}</ion-select-option
        >
        <ion-select-option value="dark"
          >{{'PARAMETRES.themeOption2' | translate}}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-item (click)="presentPopover()">
      <ion-avatar slot="start">
        <img src="../../assets/languages.png" />
      </ion-avatar>
      <ion-label>
        <div class="flex_box">
          <h3>{{'PARAMETRES.langues' | translate}}</h3>
        </div>
        <p>{{'PARAMETRES.changeLangue' | translate}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
