<ion-header>
  <ion-toolbar>
    <div class="contacts">
      <ion-icon
        slot="icon-only"
        name="arrow-back"
        (click)="backSettings()"
      ></ion-icon
      ><span>{{'QRCODE.code'| translate}}</span>
    </div>
    <ion-segment
      #segment
      value="ion-sb-0"
      mode="md"
      (ionChange)="segmentChanged($event)"
    >
      <ion-segment-button>
        <ion-label>{{'QRCODE.monCode'| translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label>{{'QRCODE.scanCode'| translate}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides
    #slider
    pager="false"
    (ionSlideWillChange)="slideChanged()"
    [options]="slideOpts"
  >
    <ion-slide>
      <app-scan-qrcode></app-scan-qrcode>
    </ion-slide>
    <ion-slide>
      <app-read-qrcode></app-read-qrcode>
    </ion-slide>
  </ion-slides>
</ion-content>
