<ion-header>
  <ion-toolbar color="success" *ngIf="!show">
    <ion-buttons slot="start">
      <ion-back-button text="" (click)="returnBack()"></ion-back-button>
    </ion-buttons>
    <div class="contacts">
      <p>
        Nouv. groupe<br />
        <span>Ajouter un sujet</span>
      </p>
    </div>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="success" *ngIf="show">
    <ion-buttons slot="start">
      <ion-back-button text="" (click)="backHome()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="infoGroup">
    <ion-buttons slot="start">
      <ion-button
        (click)="loadImageActionSheet1(event)"
        color="gray"
        shape="round"
        size="small"
      >
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
    </ion-buttons>

    <input
      #userInput
      style="position: absolute; width: 0; height: 0; opacity: 0"
      type="file"
      (change)="loadImageFromDevice1($event.target.files)"
      class="fileInput"
      accept="image/png, image/jpeg"
    />
    <ion-input
      [(ngModel)]="groupName"
      placeholder="Taper sujet du groupe"
    ></ion-input>

    <ion-buttons color="gray" slot="end">
      <ion-button (click)="openEmojiPicker()"
        ><ion-icon name="happy" size="small"></ion-icon
      ></ion-button>
    </ion-buttons>
  </div>
  <p>
    Veuillez donner un sujet au groupe et éventuellement, une icone de groupe
  </p>

  <div class="fab">
    <ion-fab horizontal="end">
      <ion-fab-button (click)="createGroup()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <div class="ion-padding">
    Participants : {{ member.length}}<br />
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let user of member" size="auto">
          <span>
            <ion-avatar>
              <img src="{{user.photo}}" />
            </ion-avatar>
            <h4>{{user.nom}}</h4>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- </div> -->
</ion-content>
