<ion-header>
  <ion-toolbar color="success" *ngIf="!show">
    <ion-buttons slot="start">
      <ion-back-button text="" (click)="returnBack()"></ion-back-button>
    </ion-buttons>
    <div class="contacts">
      <p>
        Nouv. groupe<br />
        <span>Ajouter un sujet</span>
      </p>
    </div>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="success" *ngIf="show">
    <ion-buttons slot="start">
      <ion-back-button text="" (click)="backHome()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="infoGroup">
    <ion-buttons slot="start">
      <ion-button color="gray" shape="round" size="small">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-input
      [(ngModel)]="groupName"
      placeholder="Taper sujet du groupe"
    ></ion-input>

    <ion-buttons color="gray" slot="end">
      <ion-button><ion-icon name="happy" size="small"></ion-icon></ion-button>
    </ion-buttons>
  </div>
  <p>
    Veuillez donner un sujet au groupe et éventuellement, une icone de groupe
  </p>
  <ion-fab horizontal="end">
    <ion-fab-button (click)="createGroup()">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- {{Participants : member.length}} -->
  <div class="memberOfGroup" *ngFor="let user of users">
    <ion-avatar slot="start">
      <img src="{{user.photo}}" />
      <!-- <ion-icon name="people-outline"></ion-icon> -->
    </ion-avatar>
    <ion-label>
      <div class="flex_box">
        <h3>{{user.nom}}</h3>
      </div>
    </ion-label>
  </div>
</ion-content>
