.memberOfGroup {
  display: flex;
  justify-content: space-between;
}
.infoGroup {
  display: flex;
  padding: 5px;
}
div ~ p {
  line-height: normal;
  padding: 5px 10px 0px;
  margin: 0;
  color: grey;
}
ion-input {
  border-bottom: 2px #128c7e solid;
}
.contacts {
  margin-top: 5px;
  p {
    font-size: 16px;
  }
  span {
    font-size: 12px;
  }
  div {
    margin-bottom: 0;
  }
}
ion-button {
  --background: gray;
}
