<ion-header>
  <ion-toolbar color="success" *ngIf="!show">
    <ion-buttons slot="start">
      <ion-back-button text="" (click)="backHome()"></ion-back-button>
    </ion-buttons>
    <div class="contacts">
      <p>
        {{'CREATEGROUP.statutGroupe'| translate}}<br />
        <span *ngIf="usersOfGroup.length ==0 "
          >{{'CREATEGROUP.addMember' | translate}}</span
        >
        <span *ngIf="usersOfGroup.length !=0">
          {{usersOfGroup.length}} {{'CREATEGROUP.sur'| translate}}
          {{users.length}} {{'CREATEGROUP.selection' | translate}}
        </span>
      </p>
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="showSearchBar()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="success" *ngIf="show">
    <ion-buttons slot="start">
      <ion-back-button text="" (click)="backHome()"></ion-back-button>
    </ion-buttons>
    <ion-input
      [(ngModel)]="searchText"
      placeholder="{{'CREATEGROUP.search'| translate}}"
    ></ion-input>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <div class="center">
      <ion-spinner
        color="success"
        *ngIf="users.length == 0"
        name="crescent"
      ></ion-spinner>
    </div>

    <div *ngIf="users.length != 0">
      <div *ngFor="let user of users">
        <ion-item
          *ngIf=" actifUser.uid != user.id"
          (click)="addToMemberGroup(user)"
        >
          <ion-avatar slot="start">
            <img src="{{user.photo}}" />
          </ion-avatar>
          <ion-label>
            <div class="flex_box">
              <h3>{{user.nom}}</h3>
            </div>
          </ion-label>
          <ion-icon
            *ngIf="user.isThere "
            class="colorCitron"
            shape="round"
            slot="end"
            name="checkmark-done-circle-outline"
          ></ion-icon>
        </ion-item>
      </div>
    </div>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createGroupLast()">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
