.contacts {
  margin-top: 5px;
  p {
    font-size: 16px;
  }
  span {
    font-size: 12px;
  }
  div {
    margin-bottom: 0;
  }
}

// .colorCitron {
//   background-color: #00cc3f;
// }
.colorCitron {
  color: #00cc3f;
}
.center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 10px;
}
