<ion-header>
  <ion-toolbar id="header">
    <ion-buttons slot="start">
      <ion-back-button text="" (click)="backLogin()"></ion-back-button>
    </ion-buttons>
    <ion-title>Creation de Compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding align">
  <form [formGroup]="user" (ngSubmit)="addUser(user.value)">
    <ion-card-content>
      <ion-input
        type="file"
        (change)="saveFile($event.target.files)"
      ></ion-input>

      <!-- <ngp-image-picker
        [_config]="imagePickerConf"
        ($imageChanged)="saveFile($event)"
      ></ngp-image-picker> -->
    </ion-card-content>
    <ion-item class="ion-margin-top">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input formControlName="nom" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input
        formControlName="password"
        type="password"
        required
      ></ion-input>
    </ion-item>

    <ion-button
      expand="block"
      type="submit"
      [disabled]="!user.valid"
      class="ion-margin-top"
    >
      Valider
    </ion-button>
  </form>
</ion-content>
