<ion-item>
  <ion-avatar slot="start">
    <img src="{{ image }}" />
  </ion-avatar>
  <ion-label>
    <div class="flex_box">
      <h3>{{ nom }}</h3>
      <ion-note slot="end">{{ heure }}</ion-note>
      <ion-badge *ngIf="nbreMessages != 0" color="success">{{
        nbreMessages
      }}</ion-badge>
    </div>

    <p *ngIf="messageUiSend == userId">
      <span>
        <ion-icon
          *ngIf="statut == true"
          class="text-icon"
          color="primary"
          name="checkmark-done-outline"
        >
        </ion-icon>
        <ion-icon
          *ngIf="statut != true"
          class="text-icon"
          name="checkmark-outline"
        ></ion-icon>
        <img *ngIf="assets != ''" src="assets/picture.png" />
        {{ message }}
      </span>
    </p>

    <p *ngIf="messageUiSend != userId && messageName != ''">
      <span class="pseudo">{{ newMsg }}</span> {{ message }}
    </p>
  </ion-label>
</ion-item>
