<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon
      ></ion-button>
    </ion-buttons>
    <div class="contacts">Médias de {{ groupData.nom[0] }}<br /></div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="caderImgs" *ngFor="let imgs of assets">
    <div id="date">
      {{ imgs.date | date }}<br />
      <div class="trait"></div>
      <ion-thumbnail>
        <img [src]="imgs.photo" />
      </ion-thumbnail>
    </div>
  </div>
</ion-content>
