ion-textarea {
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50%;
  word-wrap: break-word;
  word-break: break-all;
}
ion-content {
  --background: #43cebb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}
ion-toolbar {
  --background: #43cebb;
}
