<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="backLogin()" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-border">
  <div id="header">
    <h1 [innerHTML]="'FORGETPASSWORD.reinitialise' | translate"></h1>
    <img src="assets/logo.png" />
  </div>

  <form id="form">
    <ion-item class="ion-margin-bottom ion-text-center">
      <ion-input
        type="email"
        [formControl]="email"
        placeholder="email"
      ></ion-input>
    </ion-item>

    <ion-button
      [disabled]="!email.valid"
      (click)="sendVerification()"
      expand="block"
      type="submit"
      shape="round"
      color="success"
      >{{ "FORGETPASSWORD.send" | translate }}</ion-button
    >
  </form>
</ion-content>
