<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text="" (click)="backLogin()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item class="ion-margin-top">
    <ion-label position="floating">Email</ion-label>
    <ion-input
      [formControl]="email"
      type="email"
      placeholder="xxxx@gmail.com"
      required
    >
      <!-- <ion-icon name="mail-outline"></ion-icon> -->
    </ion-input>
  </ion-item>

  <!-- A revoir  || usersForms.get('password').touched -->
  <ion-button
    [disabled]="!email.valid"
    color="success"
    expand="block"
    type="submit"
    class="ion-margin-top"
    (click)="sendVerification()"
  >
    ENVOYER
  </ion-button>
</ion-content>
